body{
	margin-top: 50px;
	/*color: white;*/
	font-weight: bold;
	background: url(http://www.clipartkid.com/images/753/our-team-provides-a-wide-array-of-services-concerning-art-outsourcing-cM9vQT-clipart.jpg) no-repeat center center fixed;
	background-color: #FF8C00;
	/*background: url(http://www.dhammajak.net/board/files/147_758.jpg) no-repeat center center fixed;*/
	background-size: cover;

}